.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.mx-auto{
    margin-right: 0!important;
    margin-left: auto!important;
}

.navbar-toggler {
    color: tomato!important;
    background-color: tomato!important;
  } 

  /*  Own styles */
div.box-fix{
    position: relative;
    top: 56px;
}
section.bg-top{
    width: 100%;
    min-height: 600px;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(40, 40, 40, 0.4);
}

.fix-zindex{
    position: relative;
    z-index: 2;

}

.text-bg{
    color: white;
    margin-top: 140px;
    text-align: justify;
    display: inline-block;
    padding: 0 0 140px 0;
}

.col-md-6 P{
 padding: 0 30px 0 0;
}

.col-md-6 .btn{
    width: 200px;
    border: 0;
    background: #3FA3C5;
}

@media screen and (max-width: 768px){
    .col-md-6{
        padding: 0 30px;
    }

    .col-md-6 p{
        padding: 0;
    }
}


